* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

body {
    background-color: gray;
}

.title {
    font-size: 25px;
    font-weight: bold;
    color: rgb(36, 29, 75);
    border-bottom: 1px solid #333;
    margin-bottom: 10px;
    margin-top: 10px;
}

.container {
    background-color: #fff;
    width: 80%;
    height: 700px;
    margin: 0 auto;
}

.left {
    margin-left: 30px;
    width: 30%;
    float: left;
    display: inline-block;
}

.right {
    margin-left: 30px;
    margin-right: 30px;
    width: 60%;
    float: right;
    display: inline-block;
}

.left .name {
    font-size: 25px;
    color: rgb(36, 29, 75);
}

.image img {
    height: 200px;
    width: 200px;
    margin-top: 20px;
    border-radius: 50%;
    -webkit-border-radius: ;
    -moz-border-radius: ;
    -ms-border-radius: ;
    -o-border-radius: ;
}

.content {
    margin-top: 30px;
}

.ul-left {
    display: inline-block;
    margin-left: 50px;
    float: left;
    width: 40%;
}

.ul-right {
    display: inline-block;
    margin-left: 50px;
    float: right;
    width: 40%;
}

.experience {
    margin-top: 10px;
}

.experience p {
    font-weight: bold;
    margin-left: 10px;
}

.experience span {
    font-weight: 400;
}

.experience ul {
    padding: 10px;
    margin-left: 20px;
}

.experience ul li {
    margin-top: 5px;
}

.education span {
    font-weight: bold;
}

.education .date {
    font-weight: 400;
}

.certification span {
    font-weight: bold;
}